<div class="hero base-100 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-5xl font-bold mb-4">ちゃいろときいろ ずかん</h1>
      <p class="font-dotgothic16 py-6 mb-8">
        チョコレート、アヒル… ちゃいろときいろのものを投稿してみよう！
      </p>
      <%= link_to 'はじめる', boards_path, class: 'btn btn-primary mb-6' %>
    </div>
  </div>
</div>
