<% if object.errors.any? %>
  <div id="error_explanation" class="bg-orange-100 border text-orange-700 rounded-box relative">
    <ul class="list-none pl-5 mt-2">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
