<footer class="footer footer-center text-base-content p-4">
  <nav class="md:place-self-center md:justify-self-end">
    <aside class="flex flex-col md:flex-row justify-between gap-4 items-center w-full">
        <p>Copyright © 2024. CHOCOLATE DUCK</p>
        <p>
          <a href="https://x.com/kumateq" target="_blank" class="hover:underline">お問い合わせ</a>
        </p>
    </aside>
  </nav>
</footer>
