<footer class="footer footer-center text-base-content p-4 font-noto">
  <nav class="md:place-self-center md:justify-self-end">
    <aside>
        <p>Copyright © 2024. CHOCOLATE DUCK</p>
    </aside>
  </nav>
</footer>
