<div class="container mx-auto pt-3">
  <div class="flex items-center justify-center m-12">
    <%= link_to 'ずかん登録', new_board_path, class: "btn btn-primary" %>
  </div>
  <div class="flex flex-wrap">
    <% if @boards.present? %>
      <%= render @boards %>
    <% else %>
      <div class="mb-3 text-center text-gray-500">ずかんが見つかりませんでした</div>
    <% end %>
  </div>
</div>
