<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <nav class="pagination" role="navigation" aria-label="pager">
    <% if paginator.previous_page %>
      <%= link_to 'Previous', url_for(page: paginator.previous_page), class: 'page-link' %>
    <% end %>

    <% paginator.each_page do |page| -%>
      <% if page.display_tag? -%>
        <%= link_to page.number, url_for(page: page.number), class: "page-link #{'active' if page.number == paginator.current_page}" %>
      <% elsif !page.was_truncated? -%>
        <span class="gap">…</span>
      <% end -%>
    <% end -%>

    <% if paginator.next_page %>
      <%= link_to 'Next', url_for(page: paginator.next_page), class: 'page-link' %>
    <% end %>
  </nav>
<% end -%>
